<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="yuanxinRedisSettings" type="OfficeService.YuanXinRedisConfigSettings, OfficeService" />
  </configSections>

  <yuanxinRedisSettings>
    <connectionOptions>
      <add name="ClientRedisHost" connectionString="local" passWord="local" db="12" port="6380" />
    </connectionOptions>
  </yuanxinRedisSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>