<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securevalid" type="JXAPI.JXSdk.Config.SecureConfigSection,JXAPI.JXSdk" />
    <section name="yuanxinRedisSettings" type="Seagull2.YuanXin.WebApi.Extensions.YuanXinRedisConfigSettings, Seagull2.YuanXin.WebApi" />
  </configSections>
  <appSettings>
    <!--API地址-->
    <add key="YuanXinApiUrl" value="http://10.23.74.247/YuanXinOfficeAPI/" />
  </appSettings>
  <securevalid ipvalid="0">
    　　<secures>
      　　　　<add source="other" pwd="123456" url="http://xxxx/" ip="192.168.0.1,127.0.0.1"></add>
      　　　　<add source="employee" pwd="" url="http://xxxx.com/employee/get" ip=""></add>
    </secures>
  </securevalid>
  <yuanxinRedisSettings>
    <connectionOptions>
      <add name="VHall" connectionString="10.0.9.31" passWord="1qazXSW@" db="0" port="6379" />
      <add name="ClientRedisHost" connectionString="10.23.74.247" passWord="1qazXSW@" db="12" port="6380" />
    </connectionOptions>
  </yuanxinRedisSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.14.0" newVersion="2.3.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>